<%- include('partials/header.ejs') %>

    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container">
        <hr>
        <h1> Perguntas </h1>
        <a href="/perguntar"><button class="btn btn-primary">Perguntar</button></a>
        <hr>
            <!-- Para listar as perguntas no body da home-->
            <% perguntas.forEach(perguntas => { %>
                    <div class="card-body">
                        <h3><%= perguntas.titulo %> </h3>
                    </div>
                    <div class="card-footer">
                        <!--Para exibir o Id de cada pergunta no link do botão
                            Criando links dinâmicos: -->
                        <a href="/pergunta/<%= perguntas.id %>"><button class="btn btn-primary">Responder</button></a>
                    </div>
                <% }) %> 
            </div>
    </body>
    <%- include('partials/footer.ejs') %>