<%- include("partials/header.ejs") %>

    <body>
        <%- include ("partials/navbar.ejs") %>
        <div class="container">
            <hr>
            <h1><%= pergunta.titulo %></h1>
            <p><%= pergunta.descricao %> </p>
            <hr>
            <form method="POST" action="/responder">
                <h3>Responda</h3>
                <textarea name="corpo" placeholder="Digite sua resposta" class="form-control"></textarea>
                <br>
                <!--Criando um campo para identificação do Id da resposta: Relacionar a resposta com a pergunta através do ID
                    Estabelecer um VALOR DINÂMICO
                    Será "escondido" do usuário => type: hidden
                -->
                <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                <button type="submit" class="btn btn-primary">Responder</button>
            </form>
            <hr>
            <h3>Respostas</h3>

            <% respostas.forEach(resposta => {%> 
                <br>
                <div class="card">
                    <div class="card-body">
                        <p><%= resposta.corpo %><br></p>
                    </div>
                </div>
            <% })  %> 
            

     
    </body>
    <%- include('partials/footer.ejs') %>